<a href="https://colab.research.google.com/github/jsaraujo5081/CursoPythonConfenalco/blob/notebooks/01IntroduccionPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **INTRODUCCIÓN AL CURSO**

## Contenido

* El entorno Python
* Variables
* Operaciones binarias
* Objetos
* Ejercicios

## El entorno Python

Python es un entorno de aplicaciones diseñadas para la
manipulación de datos, el desarrollo de cálculos estadísticos y
la visualización gráfica, que funciona bajo el paraguas “open
source”.

* Su lógica se basa en la utilización combinada de
“paquetes” (o “librerías”) desarrollados por investigadores
privados, pero validados por una red de pares calificados.
* Python es un entorno en el sentido que su desarrollo está planificado
y se encuentra dentro de un sistema coherente de nuevos
métodos de análisis de datos.
* Esto garantiza que sus resultados son confiables desde
una perspectiva estadística y computacional.
* A diferencia de otros lenguajes de programación estadística
basada en objetos, Python tiende a mantener un alto estándar de
rigurosidad computacional por sobre lo matemático.
* Ha sido desarrollado por Ingenieros y no por matemáticos
como es el caso de R.

### El mundo del análisis de datos

Python es una de muchas herramientas para el
análisis de datos en la actualidad que
combinan el poder de la computación con
la matemática.

Mi TOP 5 personal:

1. R
2. Python
3. DAX/Visual
4. Javascript
5. Google Go

En los últimos años, sin embargo, han
aparecido herramientas que buscan mayor
facilidad para el analista a través del
esquema “no code”. Por mencionar algunos casos:

* Knime
* H20
* Alteryx
* Datarobot

### Contraste entre entornos de análisis estadístico

| Parametro | SAS | Python | R |
| --- | --- | --- | --- |
| Costo / Disponibilidad | 3 | 5 | 5 |
| Facilidad de aprendizaje | 4.5 | 3.5 | 2.5 |
| Manejo de datos | 4 | 4 | 4 |
| Capacidades gráficas | 3 | 4.5 | 4.5 |
| Analítica avanzada | 4 | 4.5 | 4.5 |
| Habilidad Laboral | 4 | 4.5 | 4.5 |
| Servicio técnico | 4.5 | 3 | 3 |
| Aprendizaje computacional | 2 | 4.5 | 4 |

### Importancia de saber programar con datos

Según Linkedin para el año 2020 estas son las 10 habilidades duras más requeridas a nivel mundial:

* Blockchain
* Computación en la nube
* Razonamiento analítico
* Inteligencia artificial
* Diseño UX
* Inteligencia de negocios
* Mercadeo
* Ventas
* Computación científica
* Producción audiovisual

## Variables

Una variable en términos computacionales es similar a una de tipo matemático, pues corresponde a un elemento con la capacidad de guardar un valor, mismo que puede **VARIAR** a través de un proceso.

Para asignar un valor a una variable en Python debemos utilizar la siguiente notación:

$$ variable = valor $$

### Tipos fundamentales de variables

Una variable solamente puede ser de un tipo o clase específico.

Para conocer este tipo vamos a usar la funcion *type*, y vamos a presentar cuáles son las clases más importantes:

* Numérica entera

In [14]:
var_entera = 5
print(var_entera)
print(type(var_entera))

5
<class 'int'>

* Numérica decimal (referida en Python como float)

In [15]:
var_decimal = 34.26
print(var_decimal)
print(type(var_decimal))

34.26
<class 'float'>

* Texto

In [16]:
var_texto = "Juan"
print(var_texto)
print(type(var_texto))

Juan
<class 'str'>

* Buleano o lógico

In [17]:
var_buleano = True
print(var_buleano)
print(type(var_buleano))

True
<class 'bool'>

Existen además otros tipos de variables como son las categóricas y fechas, mismas que serán revisadas posteriormente en el curso puesto que requieren de un mayor conocimiento y dominio de la herramienta.

### Conversión de tipos

En muchas ocasiones podría ser conveniente establecer "manualmente" el tipo de una variable. Aquí unos ejemplos de cómo hacerlo:

In [ ]:
#Ejemplo 1: Imprimir un mensaje de texto indicando su nombre y su edad
Nombre = "Nicole"
Edad = 33

print("Mi nombre es " + Nombre + ", y tengo " + str(Edad) + "años.")

Mi nombre es Nicole, y tengo 33años.

Nótese dos cosas:

* La primera es que para convertir la variable numérica *Edad* a un texto hemos usado la funcion *str*.
* La segunda es que hemos usado el símbolo *#* para escribir un texto dentro del código. Estos se llaman Comentarios y son muy útiles para guiar de forma semántica al lector respecto a lo que se hace en un código de programación. 

Otro ejemplo de conversión de variables:

In [18]:
#Ejemplo 2: Asegurarse que todas las variables numéricas sean decimales
a = 12.5
b = 50
c = -29.1

print ("a es de tipo: " + str(type(a)) + "\n", #La expresión "\n" representa un salto de línea
       "b es de tipo: " + str(type(b)) + "\n",
       "c es de tipo: " + str(type(c)) + "\n")

a es de tipo: <class 'float'>
 b es de tipo: <class 'int'>
 c es de tipo: <class 'float'>

In [19]:
b = float(b)

print ("a es de tipo: " + str(type(a)) + "\n", 
       "b es de tipo: " + str(type(b)) + "\n",
       "c es de tipo: " + str(type(c)) + "\n")

print(b)

a es de tipo: <class 'float'>
 b es de tipo: <class 'float'>
 c es de tipo: <class 'float'>

50.0

Para cambiar en el tipo de variable, en este caso se ha usado la funcion *float*. Ahora bien, para cambiar una variable a tipo entero usamos la función *int* como en el siguiene ejemplo:

In [20]:
#Ejemplo 3: Cambiar una variable de texto a entero
Hijos = "2"
print(type(Hijos))

<class 'str'>

In [21]:
Hijos = int(Hijos)
print(type(Hijos))

<class 'int'>

## Operaciones Binarias

Una operación binaria es toda aquella que involucre la interacción de 2 o más variables. Se las puede dividir en matemáticas y lógicas.

### Operaciones Matemáticas

Las operaciones matemáticas son específicas de las variables de tipo numérico, y más comunes son las siguientes:

* Suma y Resta

In [22]:
#Definir dos variables
a = 5.4
b = 3.1
c = -10.4
d = 0.57

In [23]:
#Suma
a + b

8.5

In [24]:
#Resta
a - c

15.8

In [25]:
#Combinación de operaciones
a + b - c

18.9

* Multiplicación y División

In [26]:
#Multiplicacion
b*c

-32.24

In [27]:
#División
b/a

0.5740740740740741

In [28]:
#Combinacion de operaciones
a*b - c/d

34.98561403508772

* Potencias

In [29]:
#Potencia
a**2

29.160000000000004

In [30]:
#Raices
b**(1/3) #i.e. Raíz cúbica

1.4580997358267116

* Modularización

In [31]:
#Ejemplos con números fijos
1%2

1

In [32]:
2%2

0

In [33]:
3%2

1

El módulo es la forma de computar el residuo de una división, y es una operación muy utilizada diariamente y de forma holística por las personas. ¿Puede dar algunos ejemplos de ella?

### Operaciones lógicas

Las operaciones lógicas se caracterizan por arrojar un resultado buleano (True/False) y permiten comparar criterios o definir condiciones a ser utilizadas en un código de programación.

* Mayor o menor que: Se utiliza los operadores "<", ">", "<=" o ">=".

In [34]:
#Verificar cual variable es mayor a otra
print("la variable a es: " + str(a))
print("la variable b es: " + str(b))
a > b

la variable a es: 5.4
la variable b es: 3.1

True

In [35]:
#Verificar si una variable es menor o igual a otra
print("la variable c es: " + str(c))
print("la variable d es: " + str(d))
d <= c

la variable c es: -10.4
la variable d es: 0.57

False

* Igualdad: Se utiliza los operadores "==" o "!=".

In [36]:
#Definir variable de texto
Pais = "Colombia"

#Verificar que la variable es igual a cierto valor
Pais == "Ecuador"

False

In [37]:
#Verificar que la variable NO es igual a cierto valor
Pais != "Chile"

True

## Objetos

Los objetos son elementos que agrupan valores, por lo que también se los conoce por el nombre de colecciones. Los principales objetos a revisar por ahora son los siguientes:

* Tuplas
* Listas
* Secuencias
* Diccionarios
* Conjuntos

### Tuplas

Las tuplas son agrupaciones de valores o elementos inmutables, esto es, que una vez que se han creado, ya no es posible modificarlos sino únicamente ejecutar consultas.

Una tupla se define mediante el uso de paréntesis, y cada elemento se separa por comas, como se indica a continuación:

In [38]:
#Crear tupla con informacion de una persona
info_JSAD = ("Juan","Araujo","Casado",35,1,"Data Scientist",10132000)

In [39]:
#Ver el tamaño (o norma) de la tupla
len(info_JSAD)

7

Para generar una consulta de un elemento específico de la tupla se utiliza el concepto de indexación, especificando la posición deseada dentro de corchetes.

In [40]:
#Ver un elemento específico de la tupla
info_JSAD[3]

35

Nótese que la posición (o índice) parte desde 0, esto es, el primer elemento tiene un índice de 0, lo cual podemos verificar usando el "método" *index*.

In [41]:
info_JSAD.index("Juan")

0

Ahora bien, es posible verificar que en efecto, una tupla tiene elementos inmutables. Para probar esto, se intentará modificar el primer valor.

In [42]:
info_JSAD[0] = "Sebastian"

TypeError: ignored

### Listas

Las listas son objetos similares a las tuplas, solamente que en este caso sus elementos sí son mutables.

Para crear una lista se puede utilizar corchetes como se indica a continuación:

In [43]:
#Crear lista de compras del supermercado
compras = ["pan","leche","huevos","agua","servilletas"]

In [44]:
#Ver tamaño (o norma) de una lista
len(compras)

5

In [45]:
#Ver un elemento específico de la lista
compras[4]

'servilletas'

Adicional al método *index* ya presentado, en las listas existen los siguientes que se asocian con la propiedad mutable antes referida:

In [46]:
#Insertar elementos al final de la lista
compras.append("carne")
print(compras)

['pan', 'leche', 'huevos', 'agua', 'servilletas', 'carne']

In [47]:
#Insertar elementos en una posicion específica de la lista
compras.insert(1,"pollo")
print(compras)

['pan', 'pollo', 'leche', 'huevos', 'agua', 'servilletas', 'carne']

In [48]:
#Combinar con otra lista
frutas = ["manzana","piña","banana"]
compras.extend(frutas)
print(compras)

['pan', 'pollo', 'leche', 'huevos', 'agua', 'servilletas', 'carne', 'manzana', 'piña', 'banana']

In [49]:
#Eliminar elementos de una lista
compras.remove("leche")
print(compras)

['pan', 'pollo', 'huevos', 'agua', 'servilletas', 'carne', 'manzana', 'piña', 'banana']

In [50]:
#Eliminar elementos desde un indice especifico
compras.pop(2)
print(compras)

['pan', 'pollo', 'agua', 'servilletas', 'carne', 'manzana', 'piña', 'banana']

In [51]:
#Ordenar los elementos de una lista
compras.sort(reverse = False)
print(compras)

['agua', 'banana', 'carne', 'manzana', 'pan', 'piña', 'pollo', 'servilletas']

### Indexación en listas y Python Comprehension

La indexación de listas es más completa cuando se trata de listas, la misma que involucra no solamente la extracción de elementos específicos, sino también la generación de subconjuntos de elementos (también llamados "recortes"). Para hacerlo considerar las siguientes líneas de código:

In [52]:
#Crear una lista con números seleccionados al azar
numeros = [-1.0,0.88,-3.4,5.56,8.6]

#Ordenar la lista
numeros.sort(reverse = False)

print(numeros)

[-3.4, -1.0, 0.88, 5.56, 8.6]

In [53]:
#Subconjunto con los 3 primeros elementos de la lista
numeros[0:3]

[-3.4, -1.0, 0.88]

In [54]:
#Otra forma
numeros[:3]

[-3.4, -1.0, 0.88]

In [55]:
#Otra forma, pero ahora excluyendo a los dos ultimos valores
numeros[:-2]

[-3.4, -1.0, 0.88]

In [56]:
#Seleccionar los números en posiciones impares
numeros[0::2]

[-3.4, 0.88, 8.6]

In [57]:
#Seleccionar los numeros en posiciones pares
numeros[1::2]

[-1.0, 5.56]

En general podemos definir a la indexación en listas conforme la siguiente expresión:


$$ lista[posicion_{inicial}:posicion_{final} + 1:pasos]$$

De igual manera, para indexar es factible utilizar reglas lógicas mediante expresiones como las siguientes:

In [58]:
#Seleccionar solo los números positivos de la lista
[i for i in numeros if i > 0]

[0.88, 5.56, 8.6]

In [59]:
#Seleccionar solamente los numeros pares en una lista de números del 1 al 10
numeros_2 = [1,2,3,4,5,6,7,8,9,10] 

#Usar la operación de modularización
[num for num in numeros_2 if num%2 == 0]

[2, 4, 6, 8, 10]

Esta forma de indexar y operar con listas se denomina **Python comprehension** y se la irá utilizando más adelante a fin de seguir practicando, pero por ahora se plantean un ejemplo adicional:

In [60]:
#Elevar al cuadrado los numeros impares y dividir los números pares de la lista numeros_2
[j**2 if j%2 == 1 else j/2 for j in numeros_2]

[1, 1.0, 9, 2.0, 25, 3.0, 49, 4.0, 81, 5.0]

### Secuencias

Las secuencias son conjuntos de valores no materializables, es decir, contienen elementos que no pueden ser operados como en las listas, pero que permiten una referenciación (similar a una indexación).

Su forma más usual de construcción se da de acuerdo a la siguiente expresión:

$$ secuencia = range(Valor_{inicial},Valor_{final},paso)$$

In [61]:
#Definir una secuencia de valores
secuencia = range(0,20,2)

In [63]:
#Imprimir la secuencia para comprender el concepto de "no materializable"
print(secuencia)

range(0, 20, 2)

In [64]:
#Tamaño (o norma) del rango
len(secuencia)

10

Una secuencia puede convertirse en una lista utilizando la funcion *list*.

In [65]:
list(secuencia)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Otra forma de crear secuencias es mediante el agrupamiento de elementos con la función *zip*, de tal forma que:

$$ secuencia = zip(Lista_1, Lista_2) $$

In [66]:
#Crear listas con los nombres y la edad de una familia
nombre = ["Juan","Nicole","Cayetana"]
edad = [35,33,8]

In [67]:
#Utilizar zip para combinar las listas
familia = zip(nombre,edad)

In [68]:
#Visualizar la secuencia a modo de lista
list(familia)

[('Juan', 35), ('Nicole', 33), ('Cayetana', 8)]

Vale señalar que las secuencias son objetos útiles para crear declaraciones iterativas, las cuales se verán mas adelante en este curso. Así también sirven para crear otros objetos como los diccionarios que se verán en la siguiente sección.

### Diccionarios

Los diccionarios son un objeto que se estructura mediante la combinación de parejas *clave: valor*, donde las claves son un objeto inmutable.

Para construir un diccionario se utilizan las llaves de la siguiente forma:

In [26]:
#Crear un diccionario de clientes
clientes = {"ID": ["0001","0002","0003"], "Nombre": ["Empresa A","Empresa B","Empresa C"], "Tipo": [1,2,1]}

clientes

{'ID': ['0001', '0002', '0003'],
 'Nombre': ['Empresa A', 'Empresa B', 'Empresa C'],
 'Tipo': [1, 2, 1]}

Para generar consultas dentro del diccionario se ejecutan los siguientes métodos:

In [70]:
#Averiguar las claves del diccionario
clientes.keys()

dict_keys(['ID', 'Nombre', 'Tipo'])

In [71]:
#Averiguar los valores del diccionario
clientes.values()

dict_values([['0001', '0002', '0003'], ['Empresa A', 'Empresa B', 'Empresa C'], [1, 2, 1]])

In [72]:
#Averiguar las claves y los valores al mismo tiempo
clientes.items()

dict_items([('ID', ['0001', '0002', '0003']), ('Nombre', ['Empresa A', 'Empresa B', 'Empresa C']), ('Tipo', [1, 2, 1])])

Cada uno de estos métodos genera como resultado una secuencia, la cual por definición no es materializable pero si se la puede referenciar. Para materializar estos resultados se puede usar nuevamente la función *list*.

In [73]:
#Generar una lista con los valores del diccionario
valores_clientes = list(clientes.values())

In [74]:
#Consultar el segundo elemento
valores_clientes[1]

['Empresa A', 'Empresa B', 'Empresa C']

Ahora bien, manteniendo la estructura de diccionario igualmente e sposible acceder a los valores de la siguiente forma:

In [75]:
#Acceder a un valor específico
clientes["Nombre"]

['Empresa A', 'Empresa B', 'Empresa C']

A continuación, se creará un diccionario con la secuencia de familia que se vio previamente. Para lo cual se usará la función *dict*.

In [77]:
#Utilizar zip para combinar las listas
familia = zip(nombre,edad)

#Crear diccionario de familia
dicc_familia = dict(familia)
dicc_familia

{'Cayetana': 8, 'Juan': 35, 'Nicole': 33}

También es posible agregar un nuevo elemento *clave: valor* al diccionario, de la forma siguiente:

In [78]:
#Agregar nueva clave y valor
dicc_familia["Lua"] = 6

dicc_familia

{'Cayetana': 8, 'Juan': 35, 'Lua': 6, 'Nicole': 33}

Y en el mismo sentido es posible eliminar elementos con el comando *del*.

In [79]:
#Quitar un elemento de la lista
del dicc_familia["Lua"]

dicc_familia

{'Cayetana': 8, 'Juan': 35, 'Nicole': 33}

### Conjuntos

Un conjunto es un objeto inmutable de elementos o valores cuya definición es equivalente a la existente en matemáticas.

Para definirlo se utilizan llaves (por lo que se puede considerar a un diccionario como un subipo de conjunto) o la funcion *set* de la siguiente forma:

In [9]:
#Crear un conjunto de números primos hasta el 40
conj_primos = {1,2,3,5,7,11,13,17,19,23,29,31,37,39}

conj_primos

{1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 39}

In [10]:
#Crear un conjunto de los 20 primeros números
lista_num = list(range(1,21,1))
conj_num = set(lista_num)

conj_num

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

Las operaciones binarias en este contexto surgen de la teoría matemática de conjuntos, siendo las más comunes las siguientes:

* Unión (OR)
* Intersección (AND)
* Diferencia (Paso previo para XOR)

In [12]:
# Union de conjuntos
conj_num | conj_primos

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 23,
 29,
 31,
 37,
 39}

In [13]:
# Intersección de conjuntos
conj_num & conj_primos

{1, 2, 3, 5, 7, 11, 13, 17, 19}

In [14]:
# Diferencia de conjuntos
conj_num - conj_primos

{4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}

In [20]:
# Or exclusivo (XOR) de conjuntos
(conj_num - conj_primos) | (conj_primos - conj_num)

{4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 23, 29, 31, 37, 39}

Para verificar que un elemento es parte de un conjunto es posible usar el operador *in*.

In [21]:
5 in conj_primos

True

In [23]:
25 in conj_num

False

Y para comprobar que un diccionario es un subtipo de conjunto, se puede aplicar igualmente este operador:

In [27]:
#Verificar que en el diccionario de clientes esté el nombre
"Nombre" in clientes

True

## Ejercicios

Sobre la base de lo aprendido resuelva los siguientes problemas:

1. Indentifique como comentario y corrija los siguientes errores:

In [ ]:
print(variable1)

In [ ]:
var_a = 5
var_b = 10
print('Mis números son: ' + var_a + var_b)

In [ ]:
tuple = (345123,876587,'Yes')
tuple[0] = 1

In [ ]:
tuple = (1,2,3)
tuple.index[1]

In [ ]:
teams = ['Barcelona','Valencia','Manchester City','Burnley']
teams.add('Espanyol')

In [ ]:
teams = ['Barcelona','Valencia','Manchester City','Burnley']
# mostrar los tres primeros equipos
teams[;2]

In [ ]:
dict1 = ['name' : ['Munir','Carles','Dorian'], ages : [9,27,87]]

In [ ]:
platforms = ['PS4', 'iOS', 'Android','PC']
versions = [1.2,1.2,1.1,1.0]
database = dict{platforms : versions}

In [ ]:
users = {'ID' : [123321,8976321], 'username': ['lamb018','xix112']}
drop users['ID']

In [ ]:
integer_numbers = {-5,-4,-3,-2,-1,0,1,2,3,4,5}
-5 is in integer_numbers

2. Cree las siguientes funcionalidades

In [33]:
#Crear una lista que contenga todos los números enteros positivos menores que 100

In [ ]:
#Genere una nueva lista en la cual si el valor es menor a 50 se mantenga y si es mayor o igual a 50 se divida para 2

In [ ]:
#Genere una lista de variables de texto al azar con al menos 7 valores
#Imprima para cada elemento la frase "Esta palabra tiene xx caracteres" (pista: utilizar la funcion len)