<a href="https://colab.research.google.com/github/jsaraujo5081/CursoPythonConfenalco/blob/notebooks/02Declaraciones_Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DECLARACIONES Y FUNCIONES

## Contenido

* Lazos
* Condicionales
* Funciones
* Librerias
* Ejercicios

## Lazos

Los lazos son declaraciones que permiten la repetición (o iteración) de fragmentos de código, de forma que por un lado se optimice las líneas utilizadas para programación, y por otro se automaticen procesos de análisis sin depender de ciertas características de los objetos de entrada.

Existen dos tipos importantes de lazos:

### Lazos "for" (for Loops)

Los lazos for siguen la lógica siguiente:

PARA cierto evento: 

> EJECUTAR otro evento

> REPETIR

Veamos a continuación un par de ejemplos de cómo programar un lazo for en Python:

In [15]:
#Lista con las 9 películas principales de la saga de Star Wars
star_wars = ["Una Nueva Esperanza","El Imperio Contraataca","El Retorno del Jedi","La Amenaza Fantasma","La Guerra de los Clones","La Venganza de los Sith",
             "El Despertar de la Fuerza","Los Ultimos Jedis","El Ascenso de Skywalker"]

#Imprimir cada elemento de la lista
print(star_wars[0])
print(star_wars[1])
print(star_wars[2])
print(star_wars[3])
print(star_wars[4])
print(star_wars[5])
print(star_wars[6])
print(star_wars[7])
print(star_wars[8])

#Llene cada uno su código

Una Nueva Esperanza
El Imperio Contraataca
El Retorno del Jedi
La Amenaza Fantasma
La Guerra de los Clones
La Venganza de los Sith
El Despertar de la Fuerza
Los Ultimos Jedis
El Ascenso de Skywalker

In [ ]:
#Imprimir cada elemento de la lista pero ahora con un lazo for
for pelicula in star_wars:
  print(pelicula)

Una Nueva Esperanza
El Imperio Contraataca
El Retorno del Jedi
La Amenaza Fantasma
La Guerra de los Clones
La Venganza de los Sith
El Despertar de la Fuerza
Los Ultimos Jedis
El Ascenso de Skywalker

In [ ]:
print(pelicula)

El Ascenso de Skywalker

Nótese entonces que un lazo for en Python tiene la siguiente notación:

```
for VARIABLE in COLECCION:
  OPERACION
```

Otro ejemplo:

In [ ]:
#Crear una lista con los primeros 100 números enteros al cuadrado usando for

#Crear una lista vacia
num_cuadrados = []

for i in range(1,101):
  num_cuadrados.append(i**2)

print(num_cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Los lazos pueden utilizarse también con secuencias *zip* o con diccionarios de la siguiente forma:

In [1]:
#Crear listas con los nombres y la edad de una familia
nombre = ["Juan","Nicole","Cayetana"]
edad = [35,33,8]

#Utilizar zip para combinar las listas en una secuencia
familia = zip(nombre,edad)

#Imprimir de forma ordenada cada componente del diccionario
for n,e in familia:
  print("Nombre: " + n + "," + "\t" + "Edad: " + str(e)) #La expresión "\t" representa un tabulado

Nombre: Juan,	Edad: 35
Nombre: Nicole,	Edad: 33
Nombre: Cayetana,	Edad: 8

In [4]:
f = edad[len(edad)-1] + 1
f

9

In [5]:
#Crear un diccionario de clientes
clientes = {"ID": ["0001","0002","0003"], "Nombre": ["Empresa A","Empresa B","Empresa C"], "Tipo": [1,2,1]}

#Obtener el tamaño de los valores inscritos en el diccionario
contador = len(clientes.values())

In [8]:
contador

3

In [10]:
#Imprimir de forma ordenada cada componente del diccionario
for i in range(0,contador):
  for clave,valor in clientes.items():
    print(clave)
    print(valor[i])
  print("\n")

ID
0001
Nombre
Empresa A
Tipo
1


ID
0002
Nombre
Empresa B
Tipo
2


ID
0003
Nombre
Empresa C
Tipo
1

In [11]:
#for (i in 1:10) {
#print(i)
#}

SyntaxError: ignored

### Lazos "while" (While Loops)

Los lazos while siguen la lógica siguiente:

MIENTRAS SUCEDE cierto evento: 

> EJECUTAR otro evento

Veamos a continuación un par de ejemplos de cómo programar un lazo while en Python:

In [12]:
#Años de estreno de películas de star wars
year_sw = [1977,1980,1983,1999,2002,2005,2015,2017,2019]

#Imprimir solamente años de estreno en el sigo 20
i = 0 #Inicializacion de la variable auxiliar
while year_sw[i] <= 2000:
  print(year_sw[i])
  i = i + 1 # == i += 1

1977
1980
1983
1999

In [13]:
i = 0 #Inicializacion de la variable auxiliar
while year_sw[i] <= 2000:
  print(year_sw[i])
  i += 1

1977
1980
1983
1999

Nótese entonces algunas particularidades de un lazo while:

* Se requiere de una inicialización específica.

```
i = 0
```

* Se requiere dentro del lazo especificar un cambio del indicador inicializado

```
i = i + 1
```

* Por consiguiente la notación es de la forma

```
INICIALIZACION
while COMPARACION LOGICA:
  OPERACION
  CAMBIO DE LA VARIABLE AUX
```

Al igual que en el caso anterior, es posible trabajar con colecciones tipo *zip* o diccionarios:

In [16]:
#Construir un diccionario que relacine los años con las peliculas
seq_sw = zip(star_wars,year_sw)
dic_sw = dict(seq_sw)
dic_sw

{'El Ascenso de Skywalker': 2019,
 'El Despertar de la Fuerza': 2015,
 'El Imperio Contraataca': 1980,
 'El Retorno del Jedi': 1983,
 'La Amenaza Fantasma': 1999,
 'La Guerra de los Clones': 2002,
 'La Venganza de los Sith': 2005,
 'Los Ultimos Jedis': 2017,
 'Una Nueva Esperanza': 1977}

In [17]:
#Imprimir las peliculas que se estrenaron el siglo 20
contador = 0
while year_sw[contador] <= 2000:
  print(list(dic_sw.keys())[contador])
  contador = contador + 1

Una Nueva Esperanza
El Imperio Contraataca
El Retorno del Jedi
La Amenaza Fantasma

In [ ]:
#Lazo infinito
i = 0
while i >= 0:
  print(i)
  if i == 200:
    break #Forma de evitar que el lazo se extienda al infinito
  i = i + 1

## Condicionales

Los condicionales son declaraciones que permiten ejecutar operaciones basadas en una regla de decisión lógica, tal que:

SI SUCEDE UN evento: 

> EJECUTAR evento 1

CASO CONTRARIO:

> EJECUTAR evento 2

In [26]:
#Definir un valor al azar
valor = 0

#Verificar si el valor es positivo o negativo
if valor > 0:
  print("Valor positivo")
else:
  print("Valor negativo")

Valor negativo

La notación en este caso viene dada por:

```
if COMPARACION LOGICA:
  OPERACION 1
else:
  OPERACION 2
```

De igual forma es posible concatenar adicionar comparaciones mediante la expresión *elif*

In [27]:
if valor > 0:
  print("Valor positivo")
else:
  if valor == 0:
    print("Valor es 0")
  else:
    print("Valor negativo")

Valor es 0

In [29]:
#Imprimir "Valor es 0" cuando corresponda
valor = -1

if valor > 0:
  print("Valor positivo")
elif valor == 0:
  print("Valor es 0")
elif valor == -1:
  print("Cuadrado del imaginario")
else:
  print("Valor negativo")

Cuadrado del imaginario

Otro ejemplo:

$$ |x| = x si x >= 0; -x si x<0 $$

In [30]:
#Otener el valor absoluto de un número al azar
valor = -1453000

if valor > 0:
  print(valor)
else:
  print(valor*-1)

1453000

Se pueden concatenar comparaciones un una misma expresión usando criterios lógicos como:

* *and*: true si ambos son verdaderos
* *or*: true si al menos uno es verdadero
* *not*: true si la expresión es falsa, y viseversa

In [31]:
#Definir las caracteristicas de una pelicula
genero = "Accion"
release_date = 2010

if genero == "Comedia":
  print("Peliculon!")
else:
  if genero == "Drama":
    print("Peliculon!")
  else:
    if release_date < 1978:
      print("Vieja y Aburrida...")
    else:
      print("Meh")

Meh

In [32]:
#Evaluar la pelicula
if genero == "Comedia" or genero == "Drama":
    print("Peliculon!")
elif release_date < 1978:
    print("Vieja y Aburrida...")
else:
    print("Meh")

Meh

Asimismo, es posible combinar lazos con condicionales de forma directa:

In [33]:
#Crear diccionario de peliculas de star wars con su rating
rating = [3.9,4.5,4.7,3.2,3.8,4.3,2.9,2.1,1.5]
dic_sw = dict(zip(star_wars,rating))

#Mostrar las películas que tienen un rating mayor a 3.5/5
for nombre,valor in dic_sw.items():
  if valor > 3.5:
    print(nombre)
  else:
    continue #No haga nada más y pase a la siguiente iteración

Una Nueva Esperanza
El Imperio Contraataca
El Retorno del Jedi
La Guerra de los Clones
La Venganza de los Sith

Nótese que el comando *continue* le indica al lazo for que no haga nada y siga a la siguiente iteración.

## Funciones

Las funciones son constructos de código que pueden ser reutilizados de forma consistente, y se guardan en la memoria. 

Para crear una función en Python se sigue la siguiente notación:


```
def NOMBRE_FUNCION(ARGUMENTOS...):
  COMANDOS A EJECUTAR
  return RESULTADOS
```

$$ y = f(x) $$
$$ f(x) = x^2 + 1 $$
$$ f(4) = 17 $$

$$ f(x,y) = x^2 + y^2 $$
$$ f(1,2) = 5 $$

In [34]:
#Definir una funcion que construya un diccionario cualquiera a partir de dos listas
def crear_diccionario(clave,valor):
  seq = zip(clave,valor)
  diccionario = dict(seq)
  return diccionario

In [35]:
crear_diccionario

In [36]:
nombre = ["Juan","Nicole","Cayetana"]
edad = [35,33,8]

#Usar funcion creada
diccionario_familia = crear_diccionario(nombre,edad)
print(diccionario_familia)

{'Juan': 35, 'Nicole': 33, 'Cayetana': 8}

In [37]:
#Usar la funcion creada con las listas de star wars
diccionario_starwars = crear_diccionario(star_wars,year_sw)
diccionario_starwars

{'El Ascenso de Skywalker': 2019,
 'El Despertar de la Fuerza': 2015,
 'El Imperio Contraataca': 1980,
 'El Retorno del Jedi': 1983,
 'La Amenaza Fantasma': 1999,
 'La Guerra de los Clones': 2002,
 'La Venganza de los Sith': 2005,
 'Los Ultimos Jedis': 2017,
 'Una Nueva Esperanza': 1977}

In [38]:
lista1 = [1,2,3,4]
lista2 = ["a","b","c","d"]

diccionario_nuevo = crear_diccionario(lista1,lista2)
print(diccionario_nuevo)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Creemos ahora una función que tome una lista de números y calcule su promedio aritmético:

In [39]:
#Definir funcion
def promedio(lista):
  suma = 0
  n = len(lista)
  for val in lista:
    suma = suma + val
  resultado = suma/n
  return resultado

In [40]:
edad

[35, 33, 8]

In [41]:
#Calcular el promedio de la edad
promedio(edad)

25.333333333333332

In [42]:
rating

[3.9, 4.5, 4.7, 3.2, 3.8, 4.3, 2.9, 2.1, 1.5]

In [43]:
#Calcular el promedio del rating
promedio(rating)

3.4333333333333336

Esta función puede perfeccionarse puesto que si se ingresa una lista vacia se genera un error de división por cero.

In [44]:
#Definir una lista vacia
lista_vacia = []
promedio(lista_vacia)

ZeroDivisionError: ignored

Usemos para esto un condicional:

In [45]:
#Funcion de promedio corregida
def promedio(lista):
  if len(lista) == 0:
    print("ADVERTENCIA: Lista esta vacía")
    resultado = 0
  else:
    suma = 0
    n = len(lista)
    for val in lista:
      suma = suma + val
    resultado = suma/n
  return resultado

In [46]:
#Definir una lista vacia
lista_vacia = []
promedio(lista_vacia)

ADVERTENCIA: Lista esta vacía

0

In [47]:
lista2

['a', 'b', 'c', 'd']

In [48]:
promedio(lista2)

TypeError: ignored

TAREA: Perfeccionar la funcion promedio de forma que si recibe una lista con elementos no numericos no arroje error

Probemos ahora una función que devuelva una lista con el número de caracteres de una lista de strings, pero que alerte si el elemento evaluado no es un texto:

In [49]:
def caracteres(lista):
  resultado = []
  for i in range(0,len(lista)):
    if type(lista[i]) != str:
      resultado.append("No es un texto")
    else:
      resultado.append(len(lista[i]))
  return resultado

In [50]:
nombre

['Juan', 'Nicole', 'Cayetana']

In [51]:
#Contador de caracteres de nombre
caracteres(nombre)

[4, 6, 8]

In [52]:
#Contador de caracteres de star wars
caracteres(star_wars)

[19, 22, 19, 19, 23, 23, 25, 17, 23]

In [53]:
#Contador de lista con números y textos
nombre_edad = nombre
nombre_edad.extend(edad)
nombre_edad

['Juan', 'Nicole', 'Cayetana', 35, 33, 8]

In [54]:
caracteres(nombre_edad)

[4, 6, 8, 'No es un texto', 'No es un texto', 'No es un texto']

### Funciones Lambda

Las funciones lambda son un tipo de funciones de naturaleza anonima, esto es, no tienen un nombre específico y pueden ejecutarse de forma directa.

Son de mucha utilidad cuando se desea usar una función como argumento de otra.

In [55]:
#Definir una funcion lambda que devuelva la raiz enésima de un número t
f = lambda t,n: t**(1/n)
f(88,5)

2.4484798507285492

In [56]:
f(1543.44,8)

2.5035785323314923

Como se puede ver, la notación de una función lambda es de la siguiente forma

```
lambda ARGUMENTOS...: OPERACION
```

A continuación entonces, se muestra cómo se puede usar este tipo de funciones como un argumento de otra.

In [57]:
#Usar la función anterior para calcular el valor presente de una cuota mensual, teniendo un interes anualizado t
vpn = lambda cuota,t,n: cuota/f(t,n)

vpn(1000000,1.0764,12)

993883.6034544935

En este sentido tambien es posible utilizar estas funciones como argumento de alguna función o método ya existente.

In [59]:
star_wars.sort(reverse = False)
star_wars

['El Ascenso de Skywalker',
 'El Despertar de la Fuerza',
 'El Imperio Contraataca',
 'El Retorno del Jedi',
 'La Amenaza Fantasma',
 'La Guerra de los Clones',
 'La Venganza de los Sith',
 'Los Ultimos Jedis',
 'Una Nueva Esperanza']

In [60]:
#Ordenar la lista star wars por el número de caracteres en cada titulo
star_wars.sort(key = lambda x: len(x))
star_wars

['Los Ultimos Jedis',
 'El Retorno del Jedi',
 'La Amenaza Fantasma',
 'Una Nueva Esperanza',
 'El Imperio Contraataca',
 'El Ascenso de Skywalker',
 'La Guerra de los Clones',
 'La Venganza de los Sith',
 'El Despertar de la Fuerza']

In [61]:
#Ordenar una lista de números poniendo los impares primero
numeros = list(range(1,11))
print(numeros)
numeros.sort(key = lambda x: x%2, reverse = True)
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

## Librerías


Las librerias (o paquetes) son colecciones de funciones, métodos y objetos desarrollados por terceras personas, pero que pueden ser utilizadas por cualquier persona que posea Python, y que buscan atacar una necesidad de análisis específica.

Como se mencionó, este aspecto constituye una importante fortaleza de los lenguajes open source.

En este curso, se utilizarán distintas librerias, entre las que se destacan

* *numpy*: análisis numérico 
* *pandas*: manipulacion de tablas de datos
* *matplotlib*: visualización
* *sklearn*: machine learning

Empecemos conociendo un poco de numpy, y aprovechemos para saber como importar (o cargar) una libreria en Python:

In [ ]:
#Importar (o cargar) una libreria como numpy
import numpy as np

*NumPy* es una librería basada en lenguaje C que permite el uso de diversas funciones estadísticas y de álgebra lineal, además de facilitar el procesamiento de datos.

En este sentido presenta al objeto *ndarray* el cual se puede entender como una lista multidimensional (o en términos matemáticos una matriz)

### Objeto ndarray

In [ ]:
#Crear una lista de listas
compras = [["Cebolla","Zanahoria","Col"],["Manzana","Naranja","Pera"],["Aceite","Sal","Pimienta"],["Detergente","Jabon","Escoba"]]
print(compras)
print(type(compras))

In [ ]:
#Transformar en ndarray
compras_array = np.array(compras)
print(compras_array)
type(compras_array)

A continuación se muestran unos métodos interesantes con *ndarrays*.

In [ ]:
#Ver las dimensiones de un array
compras_array.ndim

In [ ]:
#Ver las dimensiones de un array
compras_array.shape

In [ ]:
#Cambiar las dimensiones de un array
compras_array.reshape(6,2)

In [ ]:
#Cambiar dimensiones a una sola fila
compras_array.flatten()

In [ ]:
#Ordenamiento de un array
array1 = np.array([10,2,9,17])
array1.sort()
print(array1)

In [ ]:
#Tamaño o norma de un array
array1.size
#Igualmente se puede usar len(array1)

Además, es posible generar ndarrays con las siguientes funciones de *numpy*

In [ ]:
# Generar arrays con valores fijos
print(np.zeros(5))
print(np.ones(10))
print(np.full(5,-3))

In [ ]:
#Generar un array a partir de una secuencia y dimensionarlo en cuatro filas
np.arange(0.,10.,0.25).reshape(4,10)

Por otra parte la indexación de *ndarrays* es similar a las listas:

In [ ]:
#Construir un array cualquiera
arr_num = np.arange(0,16,2)
arr_num

In [ ]:
#Obtener un elemento
arr_num[5]

In [ ]:
#Obtener los primeros 5 elementos
arr_num[:5]

In [ ]:
#Obtener elementos de un arreglo en forma de matriz
arr_num2 = arr_num.reshape(4,2)
print(arr_num2)
print(arr_num2[2,1])

In [ ]:
#Otro caso
arr_num2[:,1]

### Funciones matemáticas en numpy

In [ ]:
#Crear dos arreglos numericos
a1 = np.array([5,4,-1,8,-3,2,0,1]).reshape(4,2)
a2 = arr_num2

In [ ]:
#Multiplicar un array
a2 * 2

In [ ]:
#Multiplicar 2 arrays
a1 * a2
#Cuidado con que los arrays tengan las mismas dimensiones

In [ ]:
#Raiz cuadrada
np.sqrt(a1)

In [ ]:
#Comparacion de magnitudes de valores
np.greater(a1,a2)

### Funciones estadísticas en numpy

In [ ]:
#Suma
np.sum(a1)
#a1.sum()

In [ ]:
#Suma acumulada
np.cumsum(a1)
#a1.cumsum()

In [ ]:
#Promedio de un arreglo
np.mean(a1)
#a1.mean()

In [ ]:
#Mediana
np.median(a1)

In [ ]:
#Desviacion Estandar
np.std(a1)

*Numpy* igualmente permite crear números aleatorios a partir de distribuciones estadísticas.

In [ ]:
#Numeros aleatorios desde una distribucion uniforme (0,1)
np.random.rand(5)

In [ ]:
#Numeros aleatorios desde una distribución normal estandar
np.random.randn(3)

In [ ]:
#Numeros aleatorios desde una distribucion binomial (n,p)
np.random.binomial(n = 5, p = 0.3, size = 2)

In [ ]:
#Numeros aleatorios desde una distribucion de poisson (lam)
np.random.poisson(lam = 2,size = 5)

### Filtrado y enmascarado de datos

Numpy permite filtrar o enmascarar datos de un arreglo mediante el uso de la funcion *where*.

In [ ]:
prices = np.array([0.99, 14.49, 19.99, 20.99, 0.49])
#Enmascarar precios menores a 1
np.where(prices < 1,True,False)

In [ ]:
#Filtrar datos de precios menores a 1
precios_bajos = prices[np.where(prices < 1,True,False)]
precios_bajos

Esto permite además dar un tratamiento a un conjunto de datos. Veamos el siguiente ejemplo:

In [ ]:
#Modificar valores erroneos con una mascara
edades = np.array([45,-5,30,28,np.nan,50,24])
print(edades)

#Poner como "nan" (not a number) valores ilógicos
edades_limpio1 = np.where(edades < 0,np.nan,edades)
print(edades_limpio1)

#Sustituir los "nan" por el promedio
prom_edades = np.mean(edades_limpio1[np.where(np.isnan(edades_limpio1),False,True)])
edades_limpio2 = np.where(np.isnan(edades_limpio1),prom_edades,edades)
print(edades_limpio2)

## Ejercicios


1. Escriba una funcion que responda "Hola, cómo estas?" cuando reciba como entrada "Hola", y que se despida con cualquier mensaje cuando reciba como entrada "Adios".

2. Corrija la sintaxis de los siguientes códigos

In [ ]:
threshold = 5
values = list(range(10))
for v in values:
    if v > threshold print(v)

In [ ]:
for i : range(5) {
    print(i)
}

In [ ]:
counter = 0
while counter < 10:
print(counter)
counter = counter + 1

3. Cree una lista de texto cualquiera y genere un código que imprima todos los elementos que poseen más de 3 caracteres

4. Separar la siguiente lista de tuplas en dos, de forma que todos los números estén en una y los testos en otra

In [ ]:
data = [(1,'banana'),(2,'pear'),(3,'sweet potato'),(4,'melon')]